body {
    margin: 0;
    background: url('img/background.jpg') 0 0;
    background-color: #CCC;
}

.container {
    display: block;
    width: auto;
    height: 62.5%;
    margin-top: 60px;
    background: url('img/background_photo.jpg') 0 0 no-repeat;
    padding: 40px 100px 40px 80px;
    background-size: cover;
    box-shadow: 0 -1px 15px 3px #333;
}

.welcome .icon {
    display:block;
    width: 105px;
    height: 105px;
    float: left;
    padding: 2px;
    margin-right: 15px;
    background: url('img/icon_128.png') 0 0 no-repeat;
    background-size: 105px 105px;
}

.welcome-text {
    display: block;
    font: bold 64px 微软雅黑,Arial,sans-serif;
    color: #FFF;
    text-shadow: 2px 1px 3px #333;
}

.note {
    display: block;
    margin-top: 15px;
    margin-left: 124px;
}

.note-text {
    display: block;
    font: 20px 微软雅黑,Arial,sans-serif;
    color: #DDD;
    max-width: 1000px;
    line-height: 1.8em;
    text-shadow: 1px 1px 3px #333;
}

.footer {
    display: block;
    margin-top: 20px;
}

.footer .entry {
    display: inline-block;
    margin: 3px 0 3px 0;
    padding: 0 10px 0 10px;
    border-left: 1px solid #AAA;
    border-right: 1px solid #AAA;
    font: 14px 微软雅黑,Arial,sans-serif;
    color: #777;
}

.entry a {
    color: #777;
    text-decoration: none;
}

div.footer-top {
    display:block;
    font-size: 0;
    margin: 0 auto;
    width: 30%;
}

div.footer-bot {
    display:block;
    font-size: 0;
    margin: 0 auto;
    width: 42%;
}